html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

section {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  line-height: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  /* the foreground and background color will blend and the final color will be lighter of the two */
  mix-blend-mode: lighten;
}

.container div {
  /* here black is necessary as it is the darkest color so the blend mode will not choose this and choose the image to be displayed which is in the background*/
  background-color: black;
  height: 59.6rem;
}

.container div:nth-child(1) {
  grid-column: 1/3;
}

img {
  width: 100%;
}
