:root {
  --green: rgba(6, 141, 126, 1);
  --white: rgba(248, 255, 229, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1;
  background-color: #182028;
}

header {
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 12.8rem;
  padding: 4.8rem;
}

.heading {
  font-size: 2.4rem;
  color: #868e96;
  text-transform: uppercase;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.container ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.container ul li {
  position: relative;
  padding-bottom: 100%;
  margin-top: -50%;
  grid-column: span 2;
}

.container ul li::before,
.container ul li::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: left, right;
  background-size: 50% 100%, 50% 100%;
}

.container ul li::before {
  /* as it will be the first child of li elements we need to define z-index less than the li element for it be behind it. */
  z-index: -10;
  background-repeat: no-repeat;
  /* this clip path will create a rhombus like shape. The image can be found in the image folder. */
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-image: linear-gradient(
      -45deg,
      var(--white) 53.5%,
      var(--green) 53.5%,
      var(--green) 60%,
      var(--white) 60%
    ),
    linear-gradient(
      45deg,
      var(--white) 53.5%,
      var(--green) 53.5%,
      var(--green) 60%,
      var(--white) 60%
    );
}

/* as after pseudoelement is the child of the acutal element it is applied on it will be on top of it by default without specifying any z-index property */
.container ul li::after {
  /* this will used to create lower triangle of green and yellow lines - you can see the image in the image folder */
  clip-path: polygon(100% 50%, 50% 100%, 0 50%, 20% 50%, 50% 80%, 80% 50%);
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, var(--white) 40%, var(--green) 40%),
    linear-gradient(-45deg, var(--white) 40%, var(--green) 40%);
}

/* this will make the single li elements adjust inside the two li elements  */
.container ul li:nth-child(10n-4) {
  grid-column: 2 / span 2;
}

.container ul li:nth-child(66) {
  grid-column: 4 / span 2;
}

.container ul li img {
  position: absolute;
  width: 43%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-60%);
  box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.container ul li img:hover {
  transform: translateX(-50%) translateY(-60%) rotateZ(25deg);
}

footer {
  text-align: center;
  font-size: 1.2rem;
  padding: 5.2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 4.8rem;
  color: #868e96;
}

footer a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
